@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carousel {
  overflow: hidden;
  height: 100vh;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.indicators > button {
  margin: 5px;
  border-radius: 50%;
  border: white 1px solid;
  height: 15px;
  width: 15px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
  background-color: white;
}
